.row.small-form {
    padding-top: 60px;
}

.user-drop {
    min-width:100px;
}

.row {
    max-width: none;
    padding: 0 3%;
}

.sidebar {
    background: #F7F7F7;
    padding-top: 26px;
}

.main-article {
    padding-top: 20px;
}

.sub-comment {
    margin-left:20px;
}

.revision del {
    color: red;
}

.revision ins {
    color: green;
}

.underline {
    text-decoration: underline;
}

.monospace {
    font-family: Consolas, "Courier new", monospace;
}

pre {
    font-family: Consolas, "Courier new", monospace;
}

code {
    white-space: pre-wrap;
}

.preserve-newline {
    white-space: pre-wrap;
}

textarea {
    box-sizing: border-box;
    font-family: Consolas, "Courier new", monospace;
    font-size: 16px;
    padding: 1in;
    resize: none;
    overflow: auto;
}