{% extends 'main' %}
{% import 'macros.comments' as comments %}
{% block article %}
    <dl class="tabs" data-tab>
        <dd class="active"><a href="#panel-content">Content</a></dd>
        <dd><a href="#panel-revisions">Revisions</a></dd>
        <dd><a href="#panel-discussion">Discussion</a></dd>
    </dl>
    {{ parent() }}
    <div class="tabs-content">
        <div class="content active" id="panel-content">
            {{ page.render() }}
            {% for catPage in page.category.pages %}

            {% endfor %}
        </div>
        <div class="content" id="panel-revisions">

        </div>
        <div class="content" id="panel-discussion">
            {{ comments.renderComments(page.topLevelComments, 0) }}
        </div>
    </div>
{% endblock %}
{% block topRightNav %}
    <li class="divider"></li>
    <li><a href="#"><span>+</span> Edit Article</a></li>
    {{ parent() }}
{% endblock %}
